.cover {
  max-width: 1184px;
  position: relative;
  margin: auto;
  background-image: url("../images/cover__background.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 32px;
  padding: 243px 0;
}

.cover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #2a2c2f;
  opacity: 0.3;
}

.cover:hover::before {
  opacity: 0.8;
  transition: 0.4s;
  cursor: url(../images/Vector\ 1.png), pointer;
}

.cover__title {
  font-family: "Inter";
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0em;
  margin: 0;
  max-width: 656px;
  text-align: center;
  z-index: 4;
}

.cover__subtitle {
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  margin: 0;
  max-width: 280px;
  height: 66px;
  z-index: 4;
}

.cover__subtitle-item {
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  margin: auto;
  text-align: center;
}

.cover__button {
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  width: 137px;
  height: 48px;
  background: #0278fe;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  margin: 0;
  padding: 0;
  z-index: 4;
  text-decoration: none;
}

.cover__button:hover {
  cursor: url(../images/cursor.png), pointer;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .cover {
    max-width: 768px;
  }
}

@media screen and (min-width: 320px) and (max-width: 680px) {
  .cover {
    max-width: 320px;
    margin-top: 64px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 0;
    padding-bottom: 0;
    gap: 16px;
    height: 254px;
  }

  .cover__title {
    font-size: 32px;
    line-height: 35px;
    text-align: center;
  }

  .cover__subtitle {
    margin: 0;
    padding: 0;
    height: 48px;
  }

  .cover__subtitle-item {
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    max-width: 320px;
    margin: 0;
    margin-top: 64px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 0;
    padding-bottom: 0;
    gap: 16px;
    height: 254px;
  }
}
