.footer {
  padding-top: 92px;
  padding-bottom: 24px;
  display: flex;
  justify-content: center;
}

.footer__copyrights {
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: right;
}
@media screen and (max-width: 320px) {
  .footer {
    padding-top: 64px;
  }
}
