.intro {
  padding-top: 92px;
  margin: 0 auto;
  max-width: 984px;
}

.intro__title {
  font-family: "Inter";
  font-size: 54px;
  font-style: normal;
  font-weight: 900;
  line-height: 58px;
  letter-spacing: 0em;
  margin: 0;
  width: 80%;
}

.intro__subtitle {
  font-family: "inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  width: 70%;
  margin: 0;
  padding-top: 40px;
}

.intro__subtitle-author {
  font-family: "inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: end;
  max-width: 73%;
  margin: 0;
  padding-top: 10px;
}

.intro__paragraph {
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  margin: 0;
  max-width: 73%;
  padding-top: 32px;
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin-right: 24px;
    margin-left: 24px;
    padding-top: 88px;
  }

  .intro__title {
    max-width: 100%;
  }

  .intro__subtitle {
    max-width: 100%;
  }

  .intro__subtitle-author {
    max-width: 100%;
  }

  .intro__paragraph {
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 100%;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 64px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }

  .intro__subtitle {
    line-height: 30px;
  }

  .intro__paragraph {
    max-width: 100%;
    text-align: left;
  }
}
