.lead {
  /*padding: 91px 148px 0 148px;*/
  max-width: calc(100% - 296px);
  padding-top: 91px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

.lead__title {
  font-family: "Inter";
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 100px;
  letter-spacing: 0em;
  max-width: 793px;
  margin: 0 auto;
}

.lead__subtitle {
  font-family: "Inter";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  max-width: 720px;
  margin: 0 auto;
  padding: 32px 0 64px 0;
}

.lead__image {
  margin: 0 auto;
  display: flex;
  align-content: center;
  max-width: 100%;
  width: 100%;
  mix-blend-mode: luminosity;
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 100%;
    margin: 0 auto;
  }
  .lead__title {
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
  }
  .lead__subtitle {
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
    padding: 32px 0 36px 0;
  }
  .lead__image {
    max-width: 768px;

    margin: 0;
  }
}
