.lead {
  padding: 91px 148px 0 148px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

.lead__title {
  font-family: "Inter";
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 100px;
  letter-spacing: 0em;
  max-width: 793px;
  margin: 0 auto;
}

.lead__subtitle {
  font-family: "Inter";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  max-width: 720px;
  margin: 0 auto;
  padding-top: 32px;
}

.lead__image {
  padding-top: 64px;
  margin: 0 auto;
  display: flex;
  align-content: center;
  width: 984px;
  mix-blend-mode: luminosity;
}
