.page {
  background-color: #2a2c2f;
  color: #ffffff;
  max-width: 1280px;
  margin: 0 auto;
  text-rendering: optimizeLegibility;
  font-family: "inter";
}

@media screen and (max-width: 768px) {
  .page {
    max-width: 768px;
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .page {
    max-width: 320px;
    margin: 0;
  }
}
