.page {
    background-color: #2a2c2f;
    color: #ffffff;
    max-width:1280px;
    margin: 0 auto;
    text-rendering: optimizeLegibility;
    font-family: "inter", arial, sans-serif;
    
  }
  
  @media screen and (min-width:1024px) and (max-width: 1270px){
  
    .page{
    max-width: 1024px;
  }
  }