.photo-grid {
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 118px;
  padding-bottom: 0;
  max-width: 984;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

.photo-grid__item {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .photo-grid {
    padding-top: 90px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    max-width: 720px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 16px;
  }
  .photo-grid__item {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .photo-grid {
    max-width: 288px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-right: 16px;
    margin-left: 16px;
    gap: 12px;
  }
  .photo-grid__item {
    max-width: 288px;
  }
}
